<!-- FILE: about.html -->
{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<section class="section">
  <h2>About Me</h2>
  <p>I’m Efa Power, a versatile technician and software developer based in Lagos, Nigeria. I specialize in Python and Django, with over three years of hands-on experience building web applications. I’m also a professional laptop engineer with deep expertise in laptop hardware repairs, diagnostics, and upgrades.</p>

  <p>In addition to hardware services, I provide desktop software installation for both individuals and businesses — including system drivers, office suites, antivirus, graphics tools, and more.</p>

  <p>I believe in continuous learning and growth. After launching my Django-powered laptop dealership platform, I’m currently expanding into data science to better understand how to use data for problem-solving and prediction.</p>

  <p>Whether you’re looking for tech repairs, a custom software solution, or want to collaborate on something creative, I’m open to great opportunities.</p>
</section>
{% endblock %}